rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Default Deny
    match /{document=**} {
      allow read, write: if false;
    }
    
    match /patients/{patientId} {
      allow read, write: if true;
    }
    
    match /activities/{activityId} {
      allow read, write: if true;
    }

    match /vhvs/{vhvId} {
      allow read, write: if true;
    }

    match /caregivers/{cgId} {
      allow read, write: if true;
    }

    match /benefactors/{bId} {
      allow read, write: if true;
    }

    match /logs/{logId} {
      allow read, write: if true;
    }
  }
}
